Peeree/en.lproj/Localizable.strings text working-tree-encoding=UTF-16LE-BOM
Peeree/de.lproj/Localizable.strings text working-tree-encoding=UTF-16LE-BOM
Peeree/Settings.bundle/en.lproj/Root.strings text working-tree-encoding=UTF-16LE-BOM
