<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>com.peeree.pin_points_100</string>
	<string>com.peeree.pin_points_500</string>
	<string>com.peeree.pin_points_1000</string>
	<string>com.peeree.pin_points_10000</string>
	<string>com.peeree.pin_points_1000000</string>
</array>
</plist>
